*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
body{
	overflow-x: hidden;
}
.header .content-box{
	width: 100%;
	height: 100vh;
	background-image: url(slika1.jpg);


}
nav{
	width: 100%;
	height: 80px;
	background-color: #0001;
	line-height: 80px;
	text-align: center;
	
}
nav ul{
	 display: inline-block;
    list-style-type: none;
    float: center
   
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;
	
}
nav ul li:hover{
	background-color:#E8E8E8	;
}
nav ul li a{
	text-decoration: none;
	color: #32CD32;
	padding: 30px

}
.menu{
	display: :inline-flex;
}
.menu img{
	height: 45px;
	margin: 20px 0 0 50px;
	cursor: pointer;
}
.menu button{
	padding: 5px 20px;
	background: #fff;
	color: #32CD32;
	font-size: 16px;
	border: 0;
	position: absolute;
	right: 10%;
	top: 5%;
}
.menu button .fa{
	margin-right: 10px;
}
.banner-text{
	width: 80%;
	color: #fff;
	margin: 16% auto 0;
	text-align: center;
}
.banner-text h2{
	margin-top: 50px;
	font-size: 64;

}
.banner-text p{
	font-size: 14px;
	margin: 20px 0 50px;
}
.banner-text a{
	text-decoration: none;
	color: #fff;
	border: 1px solid #32CD32;
	display: block;
	padding: 10px;
	width: 180px;
	margin: auto;
	background: #32CD32;
	transition: .5s;
}
.banner-text a:hover{
	background: transparent;
}
.content-box{
	background: #f4f3ff;
	height: 100vh;
	width: 100%;
}
h1{
	text-align: center;
	padding-top: 100px;

}
h1::after{
	content: '';
	background: #32CD32;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 50px;
}
.services .icon{
	font-size: 30px;
	margin: 20px auto;
	padding: 18px;
	height: 70px;
	width: 70px;
	border: 1px solid #32CD32;
	border-radius: 50%;
	color: #32CD32;
}
.services p{
	font-size: 12px;
	margin-top: 10px;
	color: #777;
	padding: 20px;
}
.services span{
	color:#32CD32;
}
.services .col-md-3:hover{
	background:#32CD32 ;
	cursor: pointer;
	color: #fff;
	box-shadow: -5px 5px 10px 0 rgba (0,0,0,0.4);
	transition: .5s;
}
.services .col-md-3:hover .icon{
	border: 1px solid #fff;
	color: #fff;

}
.services .col-md-3:hover p{
	color: #fff;

}
.services .col-md-3:hover span{
	color: #fff;
}


ul li:hover .content{
	bottom: 0%;
	transition: 0.5s;
	transition-delay: 0.5s;
	opacity: 1;
	color: #fff;
}

.slider {
      width: 90%;
      height: 500px;
      margin: 20px auto;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 5px 5px 10px grey;

    }

    .slider img {
      width: 100%;
      height: 100%;
      animation: ani 2s linear;

    }

    @keyframes ani {
      0% {
        transform: scale(1.2);
      }
      10% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
    .footer h1{
    	padding-top: 50px;

    }
    .contact-form{
    	padding: 15px;
    }
    .form-control{
    	border-radius: 0 !important;
    	border: none !important;
    	box-shadow: none !important;
    }
    ::placeholder{
    	font-size: 12px;
    }
    .contact-form button{
    	border: none;
    	background: #32CD32;
    	box-shadow: none;
    	border-radius: 0;
    }
    .contact-info .follow{
    	background-color: #fff;
    	padding: 8px;
    	margin: 15px;
    }
    .contact-info .fa{
    	margin: 10px;
    	font-size: 20px !important;
    	color: #32CD32 !important;
    	font-weight: bold;
    	padding-right: 20px;
    }
    .contact-info span{
    	font-size: 14px;
    }
    .copyright{
    	text-align: center;
    	font-size: 14px;

    }
    .footer hr{
    	margin-top: 50px;
    	background: #32CD32;
    }
    .service,.feature,.folder{
    	margin-top: 10%;
    }

.about-section{
    background: url(semin.jpg) no-repeat left;
    background-size: 50%;
    background-color: #F8F8F8;
    overflow: hidden;
    padding: 100px 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fff;
    padding: 60px;
    outline-color: #32CD32;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #32CD32;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 50px;
        margin-right: 20%;
        margin-top: 50%;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 80%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.imgs-lider ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #ccc;
	margin: 0;
	padding: 0;

}
.img-slider ul li{
	list-style: none;
	position: relative;
	width: 20%;
	height: 100%;
	border-right: 1px solid #000;
}